<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <script src="{{url_for('static',filename='move.js')}}" ></script>
  <title>{% block title %}{% endblock %} - Fun Facts</title>
  
  </head>
  <body>
    <form action="/fun">
    <select name="State">
		{{state}}
    </select>
    <br></br>
    <input type="Submit" value="Choose your state!">
    </form>
	<br></br>
	<br></br>
	<form action="/reply">
    <select name="County">
		{{county}}
    </select>
    <br></br>
    <input type="Submit" value="Get a fun fact!">
		
    </form>
	{{fact}}
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </body>
</html>
